@model IEnumerable<ASF.Entities.Dealer>
@using ASF.Entities

@{
    ViewBag.Title = "Index";
    var Country = "Country";
    var Category = "Category";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalProducts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    foreach (var std in ViewData["Country"] as IList<Country>)
    {
        if (std.Id == item.CountryId) {
            Country = std.Name;
            break;
        }
    }
    foreach (var std in ViewData["Category"] as IList<Category>)
    {
        if (std.Id == item.CategoryId)
        {
            Category = std.Name;
            break;
        }
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalProducts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
